body{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#index{
    max-width: 300px;
}
#folder{
    min-width: 500px;
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
li{
    display:flex;
    flex: 1;
    margin-bottom: 10px;
    align-items: center;

}
li a{
    flex: 1;
}
li .folder-btn{
    flex: 1;
}

.action-icon{
    width: 15px;
    height:15px;
}

#back-button{
    width: 30px;
    height:30px;
    margin:0;
    position: absolute;
    left: 10px;
    top: 10px;
}



li .action-btn{
    border: none;
    background-color: transparent;
    margin-left: auto;
}
li .action-btn:hover{
    border: none;
    background-color: lightblue;
}
